.add-user-form {
    width: 50%;
    padding:20px;

}

.add-user-input{
    display: flex;
    flex-direction: column;
    font-family:sans-serif ;
    font-weight: 600;
    padding: 5px;
}

.add-user-input input{
    background-color: transparent;
    min-height: 30px;
    border-radius: 5px;
    padding:0 5px;
}

@media (max-width: 480px) {
    .add-user-form {
      width: 90%;
    }
  }